<!DOCTYPE html>
<div class="poker-grid">
  <!-- Generate 13x13 grid for poker hands -->
  <div class="grid-cell aa">AA</div>
  <div class="grid-cell red">AKs</div>
  <div class="grid-cell red">AQs</div>
  <div class="grid-cell red">AJs</div>
  <div class="grid-cell red">ATs</div>
  <div class="grid-cell red">A9s</div>
  <div class="grid-cell red">A8s</div>
  <div class="grid-cell red">A7s</div>
  <div class="grid-cell red">A6s</div>
  <div class="grid-cell red">A5s</div>
  <div class="grid-cell red">A4s</div>
  <div class="grid-cell red">A3s</div>
  <div class="grid-cell red">A2s</div>

  <div class="grid-cell red">AKo</div>
  <div class="grid-cell red">KK</div>
  <div class="grid-cell red">KQs</div>
  <div class="grid-cell red">KJs</div>
  <div class="grid-cell red">KTs</div>
  <div class="grid-cell red">K9s</div>
  <div class="grid-cell red">K8s</div>
  <div class="grid-cell red">K7s</div>
  <div class="grid-cell red">K6s</div>
  <div class="grid-cell red">K5s</div>
  <div class="grid-cell red">K4s</div>
  <div class="grid-cell red">K3s</div>
  <div class="grid-cell red">K2s</div>

  <div class="grid-cell red">AQo</div>
  <div class="grid-cell red">KQo</div>
  <div class="grid-cell red">QQ</div>
  <div class="grid-cell red">QJs</div>
  <div class="grid-cell red">QTs</div>
  <div class="grid-cell red">Q9s</div>
  <div class="grid-cell red">Q8s</div>
  <div class="grid-cell red">Q7s</div>
  <div class="grid-cell red">Q6s</div>
  <div class="grid-cell red">Q5s</div>
  <div class="grid-cell red">Q4s</div>
  <div class="grid-cell red">Q3s</div>
  <div class="grid-cell red">Q2s</div>

  <div class="grid-cell red">AJo</div>
  <div class="grid-cell red">KJo</div>
  <div class="grid-cell red">QJo</div>
  <div class="grid-cell red">JJ</div>
  <div class="grid-cell red">JTs</div>
  <div class="grid-cell red">J9s</div>
  <div class="grid-cell red">J8s</div>
  <div class="grid-cell red">J7s</div>
  <div class="grid-cell red">J6s</div>
  <div class="grid-cell red">J5s</div>
  <div class="grid-cell red">J4s</div>
  <div class="grid-cell red">J3s</div>
  <div class="grid-cell red">J2s</div>

  <div class="grid-cell red">ATo</div>
  <div class="grid-cell red">KTo</div>
  <div class="grid-cell red">QTo</div>
  <div class="grid-cell red">JTo</div>
  <div class="grid-cell red">TT</div>
  <div class="grid-cell red">T9s</div>
  <div class="grid-cell red">T8s</div>
  <div class="grid-cell red">T7s</div>
  <div class="grid-cell red">T6s</div>
  <div class="grid-cell red">T5s</div>
  <div class="grid-cell red">T4s</div>
  <div class="grid-cell red">T3s</div>
  <div class="grid-cell red">T2s</div>

  <div class="grid-cell red">A9o</div>
  <div class="grid-cell red">K9o</div>
  <div class="grid-cell red">Q9o</div>
  <div class="grid-cell red">J9o</div>
  <div class="grid-cell red">T9o</div>
  <div class="grid-cell red">99</div>
  <div class="grid-cell red">98s</div>
  <div class="grid-cell red">97s</div>
  <div class="grid-cell red">96s</div>
  <div class="grid-cell red">95s</div>
  <div class="grid-cell red">94s</div>
  <div class="grid-cell red">93s</div>
  <div class="grid-cell red">92s</div>

  <div class="grid-cell red">A8o</div>
  <div class="grid-cell red">K8o</div>
  <div class="grid-cell red">Q8o</div>
  <div class="grid-cell red">J8o</div>
  <div class="grid-cell red">T8o</div>
  <div class="grid-cell red">98o</div>
  <div class="grid-cell red">88</div>
  <div class="grid-cell red">87s</div>
  <div class="grid-cell red">86s</div>
  <div class="grid-cell red">85s</div>
  <div class="grid-cell red">84s</div>
  <div class="grid-cell red">83s</div>
  <div class="grid-cell red">82s</div>

  <div class="grid-cell red">A7o</div>
  <div class="grid-cell red">K7o</div>
  <div class="grid-cell red">Q7o</div>
  <div class="grid-cell red">J7o</div>
  <div class="grid-cell red">T7o</div>
  <div class="grid-cell red">97o</div>
  <div class="grid-cell red">87o</div>
  <div class="grid-cell red">77</div>
  <div class="grid-cell red">76s</div>
  <div class="grid-cell red">75s</div>
  <div class="grid-cell red">74s</div>
  <div class="grid-cell red">73s</div>
  <div class="grid-cell red">72s</div>

  <div class="grid-cell red">A6o</div>
  <div class="grid-cell red">K6o</div>
  <div class="grid-cell red">Q6o</div>
  <div class="grid-cell red">J6o</div>
  <div class="grid-cell red">T6o</div>
  <div class="grid-cell red">96o</div>
  <div class="grid-cell red">86o</div>
  <div class="grid-cell red">76o</div>
  <div class="grid-cell red">66</div>
  <div class="grid-cell red">65s</div>
  <div class="grid-cell red">64s</div>
  <div class="grid-cell red">63s</div>
  <div class="grid-cell red">62s</div>

  <div class="grid-cell red">A5o</div>
  <div class="grid-cell red">K5o</div>
  <div class="grid-cell red">Q5o</div>
  <div class="grid-cell red">J5o</div>
  <div class="grid-cell red">T5o</div>
  <div class="grid-cell red">95o</div>
  <div class="grid-cell red">85o</div>
  <div class="grid-cell red">75o</div>
  <div class="grid-cell red">65o</div>
  <div class="grid-cell red">55</div>
  <div class="grid-cell red">54s</div>
  <div class="grid-cell red">53s</div>
  <div class="grid-cell red">52s</div>

  <div class="grid-cell red">A4o</div>
  <div class="grid-cell red">K4o</div>
  <div class="grid-cell red">Q4o</div>
  <div class="grid-cell red">J4o</div>
  <div class="grid-cell red">T4o</div>
  <div class="grid-cell red">94o</div>
  <div class="grid-cell red">84o</div>
  <div class="grid-cell red">74o</div>
  <div class="grid-cell red">64o</div>
  <div class="grid-cell red">54o</div>
  <div class="grid-cell red">44</div>
  <div class="grid-cell red">43s</div>
  <div class="grid-cell red">42s</div>

  <div class="grid-cell red">A3o</div>
  <div class="grid-cell red">K3o</div>
  <div class="grid-cell red">Q3o</div>
  <div class="grid-cell red">J3o</div>
  <div class="grid-cell red">T3o</div>
  <div class="grid-cell red">93o</div>
  <div class="grid-cell red">83o</div>
  <div class="grid-cell red">73o</div>
  <div class="grid-cell red">63o</div>
  <div class="grid-cell red">53o</div>
  <div class="grid-cell red">43o</div>
  <div class="grid-cell red">33</div>
  <div class="grid-cell red">32s</div>

  <div class="grid-cell red">A2o</div>
  <div class="grid-cell red">K2o</div>
  <div class="grid-cell red">Q2o</div>
  <div class="grid-cell red">J2o</div>
  <div class="grid-cell red">T2o</div>
  <div class="grid-cell red">92o</div>
  <div class="grid-cell red">82o</div>
  <div class="grid-cell red">72o</div>
  <div class="grid-cell red">62o</div>
  <div class="grid-cell red">52o</div>
  <div class="grid-cell red">42o</div>
  <div class="grid-cell red">32o</div>
  <div class="grid-cell red">22</div>
</div>
