<!DOCTYPE html>
<div class="right-panels">
  <div class="right-panels-color"></div>
  <div class="panel">
    <div class="panel-title">Диапазоны</div>
    <div class="panel-subtitle">Цветовая гамма</div>
    <div class="range-list">
      <div class="range-item">
        <img src="/circle.svg" alt="error">
        <div class="range-color salmon"></div>
        <input type="text" class="range-name-input" placeholder="Range1" value="Range1">
        <img class="cross" src="/cross.svg" alt="error">
      </div>
      <div class="range-item">
       <img src="/circle.svg" alt="error">
        <div class="range-color salmon"></div>
        <input type="text" class="range-name-input" placeholder="Range1" value="Range1">
        <img class="cross" src="/cross.svg" alt="error">
      </div>
      <div class="range-item">
       <img src="/circle.svg" alt="error">
        <div class="range-color salmon"></div>
        <input type="text" class="range-name-input" placeholder="Range1" value="Range1">
        <img class="cross" src="/cross.svg" alt="error">
      </div>
      <div class="range-item">
       <img src="/circle.svg" alt="error">
        <div class="range-color salmon"></div>
        <input type="text" class="range-name-input" placeholder="Range1" value="Range1">
        <img class="cross" src="/cross.svg" alt="error">
      </div>
    </div>
    <div class="add-button">
      <img src="/add.svg" alt="error">
    </div>
    <button class="import-button">
      <div class="import-icon">
        <img class="cross" src="/import.svg" alt="error">
      </div>
      Импортировать
    </button>
  </div>

  <div class="panel">
    <div class="panel-title">Смешанные диапазоны</div>
    <div class="range-list" style="margin-top: 40px;">
      <div class="range-item">
        <img src="/circle.svg" alt="error">
        <div class="range-color mixed"></div>
        <input type="text" class="range-name-input" placeholder="Range1" value="Range1">
        <img class="cross" src="/cross.svg" alt="error">
      </div>
      <div class="range-item">
        <img src="/circle.svg" alt="error">
        <div class="range-color mixed"></div>
        <input type="text" class="range-name-input" placeholder="Range1" value="Range1">
        <img class="cross" src="/cross.svg" alt="error">
      </div>
      <div class="range-item">
        <img src="/circle.svg" alt="error">
        <div class="range-color mixed"></div>
        <input type="text" class="range-name-input" placeholder="Range1" value="Range1">
        <img class="cross" src="/cross.svg" alt="error">
      </div>
      <div class="range-item">
        <img src="/circle.svg" alt="error">
        <div class="range-color mixed"></div>
        <input type="text" class="range-name-input" placeholder="Range1" value="Range1">
        <img class="cross" src="/cross.svg" alt="error">
      </div>
    </div>
    <div class="add-button">
      <img src="/add.svg" alt="error">
    </div>
  </div>
</div>
