<!DOCTYPE html>
<div class="bottom-controls-panel">
  <div class="left-sidebar-color"></div>
  <div class="actions-section">
    <button class="action-button">
      <div class="action-icon">
        <img src="/BS.svg" alt="error" />
      </div>
      Сохранить
    </button>
    <button class="action-button">
      <div class="action-icon">
        <img src="/BF.svg" alt="error" />
      </div>
      Тренировать
    </button>
  </div>
  <div class="data-section">
    <div class="data-item">
      <div class="data-color red"></div>
      <span class="data-text">1003.14/1326</span>
      <span class="data-text">75.65%</span>
    </div>
    <div class="data-item">
      <div class="data-color blue"></div>
      <span class="data-text">1 03.14/1326</span>
      <span class="data-text">35.65%</span>
    </div>
    <div class="data-item">
      <div class="data-color green"></div>
      <span class="data-text">1003.14/1326</span>
      <span class="data-text">75.65%</span>
    </div>
  </div>
</div>
